:root {
  --mainFont: "Patrick Hand", cursive;
  --titleFont: ff-prater-block-web, sans-serif;
  --titleAltFont: ff-prater-sans-web, sans-serif;

  --primaryBlue: hsl(214, 100%, 50%);
  --darkBlue: hsl(214, 100%, 45%);
  --lightBlue: hsl(214, 100%, 70%);
}

body,
body * {
  margin: 0;
  font-family: var(--mainFont);
  color: var(--primaryBlue);
  font-size: 3.815rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  body * {
    font-size: 3.052rem;
  }
}
@media screen and (max-width: 992px) {
  body * {
    font-size: 2.441rem;
  }
}
@media screen and (max-width: 768px) {
  body * {
    font-size: 1.953rem;
  }
}
@media screen and (max-width: 576px) {
  body * {
    font-size: 1.563rem;
  }
}

.container {
  max-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  position: relative;
}

#trigger1:checked ~ .container {
  overflow-y: scroll;
}

.snap {
  height: 100vh;
  scroll-snap-align: start;
}

#trigger1 {
  display: none;
}

#trigger1:checked ~ div .label1 {
  pointer-events: none;
}

.introAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
}

.introAbsoluteSpeach {
  height: calc(330vh + 1.35em);
}

.introAbsoluteStick {
  height: 400vh;
}

.attention {
  position: relative;
  top: 2em;
  left: 3em;
  font-style: italic;
}

#trigger1:checked ~ div label .attention {
  opacity: 0;
  transition: opacity 1s;
}

.clickOnMe {
  font-size: 0.8em;
}

.hi {
  position: relative;
  top: 30vh;
  text-align: right;
  transform: translateX(-30%);
  opacity: 0;
}

#trigger1:checked ~ div .hi {
  animation: fadeInOut 2s 1s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.im {
  padding-right: 0.5em;
  position: sticky;
  top: 30vh;
  text-align: right;
  opacity: 0;
}

#trigger1:checked ~ div .im {
  opacity: 1;
  transition: opacity 1s 1.5s;
}

.stickman {
  height: 6em;
  position: sticky;
  top: 40vh;
}

#trigger1:not(:checked) ~ div label .stickman {
  transform: rotate(45deg) translate(-50%);
}

#trigger1:checked ~ div label .stickman {
  transform: translate(25vw);
  transition: transform 2s;
}

@media screen and (max-width: 1200px) {
  #trigger1:checked ~ div label .stickman {
    transform: translate(15vw);
    transition: transform 2s;
  }
}

@media screen and (max-width: 992px) {
  #trigger1:checked ~ div label .stickman {
    transform: translate(10vw);
    transition: transform 2s;
  }
}

.intro > * {
  position: relative;
  left: 45%;
  top: 30vh;
  width: 50%;
}

.introName * {
  transform: translate(100vw);
}

#trigger1:checked ~ div .introName h1 {
  transform: translate(0);
  transition: transform 1s 1.75s ease-out;
}

#trigger1:checked ~ div .introName p {
  transform: translate(0);
  transition: transform 1s 2.5s ease-out;
}

.introName p {
  font-size: 0.8em;
  padding-top: 2em;
}

.introLFG,
.trainings,
.experiences,
.skills {
  border-bottom: 8px dashed var(--lightBlue);
}

.arrow {
  position: fixed;
  top: 90%;
  left: 85%;
  animation: arrowIdle 2s infinite;
  opacity: 0;
  font-family: var(--titleFont);
  z-index: 1;
}

#trigger1:checked ~ div .arrow {
  opacity: 1;
  transition: 1s 4s;
}

@keyframes arrowIdle {
  0% {
    transform: rotate(-90deg) scale(0.9);
  }
  50% {
    transform: rotate(-90deg) scale(1);
  }
  100% {
    transform: rotate(-90deg) scale(0.9);
  }
}
.introQuality1,
.introQuality2,
.introLFG {
  position: relative;
}

.introQuality1 p,
.introQuality2 p,
.introLFG p {
  position: absolute;
  top: 30vh;
}

.lamp,
.motiv,
.XP {
  position: sticky;
  display: block;
  max-width: 6em;
  max-height: 6em;
  width: auto;
  height: auto;
  left: 0;
  top: 40vh;
  transform: translate(25vw);
  transition: transform 2s;
}

@media screen and (max-width: 1200px) {
  .lamp,
  .motiv,
  .XP {
    transform: translate(15vw);
  }
}

@media screen and (max-width: 992px) {
  .lamp,
  .motiv,
  .XP {
    transform: translate(10vw);
  }
}

.lamp {
  top: 35vh;
}

h1,
h2 {
  font-family: var(--titleFont);
  color: black;
}

h2 {
  text-align: center;
  padding: 0.8em;
}

/* trainings -------------------------------- */

.year {
  font-family: var(--titleAltFont);
  font-size: 0.8em;
}

.diploma {
  font-size: 0.5em;
  font-family: var(--titleAltFont);
  color: var(--darkBlue);
  padding-bottom: 0.4em;
}

.where {
  font-size: 0.4em;
}

.training div {
  border: var(--lightBlue) dashed 4px;
  border-radius: 50px;
  background: white;
  padding: 0.5em;
}

.training * {
  text-align: center;
}

.training {
  transition: transform 500ms;
}

.training:hover {
  transform: scale(1.1);
}

.trainingsWrap {
  width: 90%;
  margin: 0 auto;
}
.trainingsTop {
  display: flex;
  gap: 2em;
  align-items: flex-end;
  padding-bottom: 0.2em;
  justify-content: space-evenly;
  padding-left: 4em;
}

.trainingsTop .year {
  margin-top: 0.3em;
}

.trainingsBottom {
  display: flex;
  gap: 2em;
  border-top: var(--lightBlue) dashed 4px;
  padding-top: 0.2em;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-right: 4em;
}

.trainingsBottom .year {
  margin-bottom: 0.3em;
}

@media screen and (max-width: 768px) {
  .trainingsWrap {
    display: flex;
    margin-top: 0;
    justify-content: center;
  }

  .trainingsTop,
  .trainingsBottom {
    flex-direction: column-reverse;
  }

  .trainingsTop {
    border-right: var(--lightBlue) dashed 4px;
    padding-right: 0.5em;
    padding-left: 1em;
  }

  .trainingsBottom {
    border: none;
    padding-left: 0.5em;
    padding-top: 4em;
    padding-right: 1em;
  }

  .training {
    position: relative;
  }

  .trainingsTop .year {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(150%, -150%);
  }
}

/* slider ------------------------------------------------- */

/* contact form ------------------------------------------- */

form {
  width: 50%;
  min-width: 300px;
  margin: auto;
}

form * {
  font-size: 0.8em;
}

.form-group {
  position: relative;
}

.form-control {
  width: 100%;
  margin: 12px;
}

.form-control-placeholder {
  position: absolute;
  top: 0.4em;
  padding-left: 20px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:not(:placeholder-shown) + .form-control-placeholder {
  font-size: 50%;
  transform: translate3d(0, -80%, 0);
  opacity: 1;
}

.submit {
  text-align: center;
  margin: auto;
}

.contact {
  position: relative;
}

footer {
  border-top: 10px dashed white;
  background: var(--primaryBlue);
  height: 15vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.trainings {
  background-image: url(img/paper.png);
  background-size: cover;
  background-attachment: fixed;
}

.skills {
  background-image: url(img/paper2.png);
}
