:root {
  --mainFont: "Patrick Hand", cursive;
  --titleFont: ff-prater-block-web, sans-serif;

  --primaryBlue: hsl(214, 100%, 50%);
  --darkBlue: hsl(214, 100%, 30%);
  --lightBlue: hsl(214, 100%, 70%);
}

body,
body * {
  margin: 0;
  font-family: var(--mainFont);
  color: var(--primaryBlue);
  font-size: 3.815rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  body * {
    font-size: 3.052rem;
  }
}
@media screen and (max-width: 992px) {
  body * {
    font-size: 2.441rem;
  }
}
@media screen and (max-width: 768px) {
  body * {
    font-size: 1.953rem;
  }
}
@media screen and (max-width: 576px) {
  body * {
    font-size: 1.563rem;
  }
}

.container {
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  position: relative;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.snap {
  height: 100vh;
  scroll-snap-align: start;
}

.introAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(330vh + 1.3em);
  width: 45%;
}

.im {
  padding-right: 1em;
  position: sticky;
  top: 30vh;
  text-align: right;
}

.intro * {
  position: relative;
  left: 45%;
  top: 30vh;
}

h2 {
  text-align: center;
  padding-top: 1em;
  border-top: 2px dashed var(--lightBlue);
}
