:root {
  --mainFont: "Patrick Hand", cursive;
  --titleFont: ff-prater-block-web, sans-serif;

  --primaryBlue: hsl(214, 100%, 50%);
  --darkBlue: hsl(214, 100%, 30%);
  --lightBlue: hsl(214, 100%, 70%);
}

body {
  margin: 0;
}

body * {
  box-sizing: border-box;
  color: var(--primaryBlue);
  font-family: var(--mainFont);
  font-size: 3.815rem;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  body * {
    font-size: 3.052rem;
  }
}
@media screen and (max-width: 992px) {
  body * {
    font-size: 2.441rem;
  }
}
@media screen and (max-width: 768px) {
  body * {
    font-size: 1.953rem;
  }
}
@media screen and (max-width: 576px) {
  body * {
    font-size: 1.563rem;
  }
}
